body {
    background: black;
}
.continer {
    max-width: 1000px;
    margin: 0px auto;
    padding: 0px 20px;
}
.navbar {
    height: 100px;
    background: rgba(165, 42, 42, 0.486);
    display: flex;
    align-items: center;
}
.navbar_logo {
    margin-left: 60px;
    padding-top: 30px;
    color: white;
    font-size: 20pt;
}
.navbar_menu {
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.link {
    display: flex;
    margin-left: 100px;
    margin-top: 30px;

}
li {
list-style: none;
margin-left: 40px;

}
a {
    color: white;
    font-size: 15pt;
    text-decoration: none;
}
.button {
    margin-top: 30px;
    margin-left: 50px;
}
.box {
    height: 1000px;
}
   .box i {
            display: block;
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background:none;
            border: 2px solid red;

        }
        .item{
            width: 160px;
            height: 140px;
            padding: 20px;
            margin: 20px;
            border: 2px solid blue;
        }
        .item p {
            border: 2px solid red ;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }
        .item span {
            width: 100%;
            border: 2px solid black;
        }
       
        .box2 {
            position: relative;
            top: -100px;
            width: 100px;
            height: 40px;
            background-color: white;
            display: none;
        }
        .input {
            display: block;
            width: 200px;
            height: 30px;
            color: black;
            margin: 0px auto;
            text-align: center;
        }